<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Burgers!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body src="../../public/assets/img/dark-grey-terrazo.png">
  <div class="jumbotron">
    <h1>Eat your burger here!</h1>
    <img src="../../public/assets/img/hamburguesa.jpg" alt="Burger">
  {{{ body }}}
  </div>
</body>

</html>